<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="st2.css" rel="stylesheet">
  

  </head>
  <body>
    <div class="flex">
        <div class="s" >
          <button>
          <img  class="select" src="../Codeforces.png"/>
      </button>
        </div>
        <div class="s">
          <button>
          <img class="select" src="../cc.jpg"/>
      </button>
        </div>
        <div class="s">
          <button>
          <img class="select" src="../hack.png"/>
      </button>
        </div>
        <div class="s">
          <button>
          <img class="select"src="../lc.jpeg"/>
      </button>
        </div>
        <div class="s">
          <button>
          <img class="select"src="../he.jpeg"/>
      </button>
        </div>
      </div>
      <nav class="navbar bg-body-">
        
        <div class="container-fluid">
          <a class="navbar-brand"></a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search PROBLEMS" aria-label="Search ">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      
      <!-- Large button groups (default and split) -->
<div class="btn-group">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    DIFFICULTY LEVEL
  </button>
  <ul class="dropdown-menu">
    <li>1</li>
  </ul>
</div>
<div class="btn-group">
  <button class="btn btn-success btn-lg" type="button">
    TOPICS
  </button>
  <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="problem.js"></script>
      </body>
      </html>