
@tailwind base;
@tailwind components;
@tailwind utilities;
  
 .btn {
    display: inline-block;
    padding-right: px;
    padding-left: px;
    padding-top: px;
    padding-bottom: px;
  border-color: aliceblue;
   
  }
  button {
     background-color:#00003f;
     color:white;
     padding:15px;
     border-radius:10px;
     border-color: white;

  }
 
    body {
      background-image: url("../bluebg.jpg");
      background-size: 100% 100%;/* Adjust to your preference */
      background-position: center ; /* Adjust to your preference */
      background-repeat:repeat;
      
    }
  .nav {
    padding-top: 30px;
    
  }img{
    width: 400px;
    
    border-color: white;
    border-radius: 15px;
    
  }
  .logo {
     padding-left:50px;
     padding-top:30px;
  }