<!DOCTYPE html>
<html>
    <head>
         
        <link rel="stylesheet" href="profile.css">
       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <style>
           
          *{
    

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}      
    
            
.flex{
    display: flex;
    font-size: 12px;
    font-family: Comic Sans MS;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
}
@media(max-width:1000px){
    .flex{
        display: block;
    }
    
}
div#main-card {
    width:400 px;
    margin-right: 30px;
    box-shadow: -5px 2px 18px 4px #020638;;
}

.cover-photo {
    background: #30354d;
    width: 400px;
    height: 50px;
}

.photo {
    background:#020638;
    width: 400px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content {
    background: #020638;
    width: 400px;
    height: 250px;
    position: relative;
    color:white;
    font-size: 16px;
    
}

.contact {
    background: #30354d;
    width: 400px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

h2.name,
h3,
a {
    margin: 0;
    text-align: center;
}

h2.name {
    padding-bottom: 20px;
}

h3.fullstack {
    padding-bottom: 10px;
}

a {
    color: #0ab581;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    padding: 0;
}

.fa {
    font-size: 24px;
    padding:10px;
    color: #0ab581;
}

.fa:hover {
    font-size: 24px;
    color: white;
}

a.certified {
  color: white;
  cursor: pointer;
}

a.certified:hover {
  color: #0ab581;
}

div#main-card:hover {
    -webkit-animation-name: pulse;  
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    @-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
    @keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
} body{
    background-color: #020638;
}*{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        }
        body {
            height:100vh;
            background-color: #0a2647;

        }
        .logo img{
           
            height:65px;
            padding-top:10px;
            padding-right:10px;
            width:80px;
           border-radius:50%
        }
        .logo {
            display:flex;

        }
        .logo a{
            font-size: 40px;
            padding-top:10px;
            font-weight: bold;
            

        }
        li {
            list-style:none;
        }
        a{
            text-decoration: none;
            color:#fff;
            font-size: 1rem;
        }
        a:hover{
            color:skyblue;
        }
        header{
            position: relative;
           height:80px;
            background-color: #144272;
        }
        .navbar {
            width:100%;
            height:60px;
            max-width: 1200px;
            margin:0 auto;
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .navbar .links{
            display: flex;
            gap:2rem;
        }
        ul li a{
            font-size:1.5rem;
        }
        .navbar .toggle_btn {
            color:#fff;
            font-size:2rem;
            cursor:pointer;
            display:none;
        }
        .btn {
            display:flex;
            justify-content: space-around;
        }
        .action-btn{
            font-size: 1.5rem;
            background-color: #39b5e0;
            color:#fff;
            padding:0.5rem 1rem;
            margin-right:5px;
            border:none;
            outline:none;
            border-radius: 20px;
            font-size: 0.8rem;
            font-weight: bold;
            cursor:pointer;
            transition: scale 0.2 ease;
        }
        .action-btn:hover{
            scale:1.05;
            color:#fff;
        }
        .action-btn:active {
            scale:0.95;
        }
        .dropdown_menu {
            display:none;
            position:absolute;
            right:2rem;
            top:60px;
            height:0;
            width:300px;
            background:rgba(255,255,255,0.1);

            z-index: 10;
            border-radius:10px;
            overflow:hidden;
            transition:height cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .dropdown_menu.open{
            height:370px;
        }
        .dropdown_menu li{
            padding:0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .dropdown_menu .action-btn{
            width:100%;
            display:flex;
            justify-content: center;
        
        }
        .row {
            display:flex;
            justify-content:space-between;
            align-items: center;
            margin:100px 0;
        }
        .col-1 {
            flex-basis:40%;
            position:relative;
            margin-left:50px;
        }
        .col-1 h1{
            font-size: 54px;
            color:#39b5e0;

        }
        .col-1 p{
            font-size:24px;
            color:#fff;
            font-weight: 100;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: 30px 0;
       
        }
        .col-2{
            margin-right: 10%;
        }
        img {
            width:90%;
        }
        
         @media only screen and (max-width: 700px){
            .navbar .links,
            .navbar .action-btn{
                display:none;
            }
            .navbar .toggle_btn{
                display:block;
        
            }
            .dropdown_menu{
                display:block;
            }
            .row {
                flex-direction:column-reverse;
                margin: 50px 0;
            }
            .col-2 {
                flex-basis:100%;
                margin-bottom:50px;

            }
            .col-2 img{
                width:78%;
                padding-left: 20%;

            }
            .col-1{
                flex-basis:100%;

            }
            .col-1 h1{
                font-size: 35px;
            }
            .col-1 p{
                font-size:18px;
            }
            }
        @media (max-width: 576px) {
            .dropdown_menu {
                left:2rem;
                width:unset;
            }
        }
        img{
            
        }


        </style>
    </head>
    <body>
        <div>
            <header>
                <div class="navbar">
                    <div class="logo"><img src="https://i.imgur.com/snfPYKq.jpg"/>
                        <a href="#">CP-PORTAL</a></div>
                    <ul class="links">
                        <li><a href="/dashboard">Home</a></li>
                        <li><a href="/main">Contests</a></li>
                        <li><a href="/learn">Learn</a></li>
                        <li><a href="/problem">Problems</a></li>
                        <li><a href="/please/<%=user.id%>">To-do</a></li>
                        <li><a href="/profile">Contact Us</a></li>
                    </ul>
                    <div class="mtn">
                    <a href="/logout" class="action-btn">Logout</a>
                    </div>
                    <div>
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
                      <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                      </a>
                      <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Name:<%=user.name%></a></li>
                        <li><a class="dropdown-item" href="#">Email id:<%=user.email%></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                      </ul></div>
                    
                   
                    <div class="toggle_btn">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
                <div class="dropdown_menu">
                    <li><a href="/dashboard">Home</a></li>
                        <li><a href="/main">Contests</a></li>
                        <li><a href="/learn">Learn</a></li>
                        <li><a href="/problem">Problems</a></li>
                        <li><a href="/please/<%=user.id%>">To-do</a></li>
                        <li><a href="/profile">Contact Us</a></li>
                        <li><a href="/logout" class="action-btn">Logout</a></li>
                       
                </div>
              </header>
    </div>
        <div class="flex">
        <div id="main-card">
            <div class="cover-photo"></div>
            <div class="photo">
                
            </div>
            <div class="content">
                <h2 class="name">Name:Ishita Pandey</h2>
                
                <h2 class="name">Institute:IIT Indore</h2>
                
                <h2 class="name">Phone No:9454011331</h2>
                <h2 class="name" >Email-id:<a href="mailto:ee220002037@iiti.ac.in">ee220002037@iiti.ac.in</a></h2>

              
            </div>
            <div class="contact">
                <ul>
                    
                    <a href="https://www.linkedin.com/in/ishita-pandey-138725260/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/ishita-2309" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://www.instagram.com/ishitapandey224/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </ul>
            </div>
        </div>
        <div id="main-card">
            <div class="cover-photo"></div>
            <div class="photo">
                <img src="" alt="">
            </div>
            <div class="content">
                <h2 class="name">Name:Aradhya Shant</h2>
                
                <h2 class="name">Institute:IIT Indore</h2>
                
                <h2 class="name">Phone No:9634116379</h2>
                <h2 class="name">Email-id:<a href="mailto:ee220002015@iiti.ac.in">ee220002015@iiti.ac.in</a></h2>

              
            </div>
            <div class="contact">
                <ul>
                    
                    <a href="https://www.linkedin.com/in/aradhya-shant-782289271" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/aradhya2607" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://instagram.com/_aradhyashant?igshid=MzNlNGNkZWQ4Mg==" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </ul>
            </div>
        </div>
        <div id="main-card">
            <div class="cover-photo"></div>
            <div class="photo">
                
            </div>
            <div class="content">
                <h2 class="name">Name:Prasad Akanksha</h2>
                
                <h2 class="name">Institute:IIT Indore</h2>
                
                <h2 class="name">Phone No:9913458876</h2>
                <h2 class="name">Email-id:<a href="mailto:ee220002063@iiti.ac.in">ee220002063@iiti.ac.in</a></h2>

              
            </div>
            <div class="contact">
                <ul>
                    
                    <a href="https://www.linkedin.com/in/akanksha-prasad-ab0376250/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/akankshaprasad18" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://www.instagram.com/akanksha_prasad18/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </ul>
            </div>
        </div>
        
                </ul>
            </div>
        </div>
       
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> 
  <script>
    const toggleBtn= document.querySelector('.toggle_btn')
    const toggleBtnIcon= document.querySelector('.toggle_btn i')
    const dropDownMenu= document.querySelector('.dropdown_menu')
    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
</script>
    </body>
    </html>